# 1. The Big Junk Folders (The most important part)
node_modules/
functions/node_modules/

# 2. Firebase & Environment Keys (Security)
.firebase/
firebase-debug.log*
firestore-debug.log*
.env
functions/.env

# 3. System Junk
.DS_Store
Thumbs.db
.vscode/